#container {
  width: 80%;
  height: 50px;
  margin-top: 25px;
  margin-left: 100px;
  
}


.my-name {
  margin-top: -15px;
    margin-left: 150px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    height: 50px;
    background-color: lightseagreen;
 
}

ul {
  list-style-type: none;
  margin: -15px;
  padding: -15px;
  overflow: hidden;
  margin-top: -50px;
}

li {
  float: right;
}

li a {
  Margin-right: 150px;
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#container2 {
  height: 600px;
  width: 90%;
  margin-left: 5%;
  margin: 0 auto;
  background-color: lightgrey;
}

.inside {
  height: 500px;
  width: 75%;
  margin-left: 12.5%;
  background-color: white;
}

.filler {
  height: 10px;
  width: 75%;
  margin-left: 12.5%;
  background-color: lightseagreen;
}

.footer {
  
  margin-left: 150px;
  width: 75%;
  height: 10%;
  background-color: darkslategrey;
}

.me {
  margin-left: 25px;
  margin-top: 25px;
}

.text-wrap {
  float: left;
  margin-top: 25px;
  padding: 20px;
}